*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.H-A-C{
  background-color: paleturquoise;
  display: flex;
  /* justify-content: space-around; */
  list-style-type: none;
  
  align-items: center;
  height: 4rem;
}
ul li{
margin: 0 1rem;
text-decoration: none;
}
.common{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

