*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.H-A-C{
  background-color: rgb(205, 105, 158);
  display: flex;
  /* justify-content: space-around; */
  list-style-type: none;
 
  align-items: center;
  height: 4rem;
}
ul li{
margin: 0 1rem;
text-decoration: none;
}
.common{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
.sidebar{
  float: left;
  height: 100vh;
  width: 200px;
  background-color: rgb(114, 147, 105);
  /* margin-top: 4rem; */
}
.active-link{
  color:yellow;
}

