.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
.container{
  height: auto  ;
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color:#61dafb;
  
}
.todoForm{
  width: 31rem;
  display: flex;
  justify-content: space-around;
}
.todoForm input{
  width: 80%;
  border: none;
  border-radius: 9px;
  
}
button{
  border: none;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 10px;
}
.allTodos{
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodo{
  background-color:violet;
  border-radius: 6px;
  margin: 15px 0;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  width: 437px;
}
.todoText{
  flex: 1;
  color: white;
}




