.container{
    /* background-color: lightblue; */
    /* height: 100vh; */
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.Add-item{
    background-color: lightcoral;
    font-size: x-large;
    font-weight: 400;
    border-radius: 8px;
}
.input{
    background-color: lightcoral;
    font-size: x-large;
    font-weight: 400;
    border-radius: 8px;
}
.listItem{
    /* background-color: aquamarine; */
    display: grid;
    justify-content: center;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: center; */
    margin-top: 50px;
    font-size: x-large;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    
}
.justClick{
    background-color: yellow;
    text-align: center;
}