.container{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.form{
    border: none;
    border-radius: 15px;
    background-color:lightskyblue;
    padding: 2rem;
    width: 30%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 13rem 0;
}

.inputA{
padding: 6px;
border: none;
border-radius: 6px;
/* background-color:limegreen; */
color: black;
font-size: x-large;
font-weight: 500;
}

.inputB{
  margin-top:1rem ;
  margin-bottom: 3rem;
  padding: 6px;
  border: none;
  border-radius: 6px;
  /* background-color:limegreen; */
  color: black;
  font-size: x-large;
  font-weight: 500;
  }

.submitButton{
  padding: 6px;
  margin: 0 5rem;
  border: none;
  border-radius: 8px;
  background-color:#282c34;
  color: beige;
  font-size: x-large;
  font-weight: 500;
}


.welcomePage{
  border: none;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  background-color: burlywood;
  color: #282c34;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 0;
 
  
}
