section{
    width: 100%;
    margin-top: 1.8rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: -1;
}
.cards{
    width: 295px;
    height:455px ;
    padding: 10px;
    display: grid;
    place-items: center;
    margin: 10px 10px;
    background-color: lightgrey;
    border-radius: 5px;
}
.cards:hover{
   box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1) ;
   cursor: pointer; 
}
.productTitle{
    font-weight: bolder;
}
.productImg img{
    width: 230px;
    height: 235px;
    border-radius: 6px;
}

.priceAndBtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-size: 1.5rem;
    font-weight: 560;
    color: darkslateblue;
}
.priceAndBtn button{
    padding: 2px 5px;
    border: none;
    background-color: darkorange;
    font-size: 1rem;
    font-weight: 550;
    color:white ;
    outline: none;
    border-radius: 4px;
    height: 2.5rem;
    cursor: pointer;
}

