.inputNdIconContainer{
    position: relative;
}
.searchIcon{
    color: royalblue;
    position: absolute;
    right: 5%;
    top: 24%;
    font-size: large;
    cursor: pointer;
}
.searchContent{
    height: 1.7rem;
    width: 26rem;
    padding:0.2rem 1rem;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 0.2rem;
}
.logoutBtn{
    background-color:gray;
    color:darkslateblue;
    border: none;
    padding: 2px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 15rem;
    top:36px;
}
.loginBtn{
    background-color:gray;
    color:darkslateblue;
    border: none;
    padding: 2px 16px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 15rem;
    top:36px;
}
.userName{
    top: 8px;
    position: fixed;
    right: 13.3rem;
}
