.inputNdIconContainer{
    position: relative;
}
.searchIcon{
    color: royalblue;
    position: absolute;
    right: 5%;
    top: 24%;
    font-size: large;
    cursor: pointer;
}
.searchContent{
    height: 1.7rem;
    width: 26rem;
    padding:0.2rem 1rem;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 0.2rem;
}
.logoutBtn{
    background-color:gray;
    color:darkslateblue;
    border: none;
    padding: 2px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
   
}
.loginBtn{
    background-color:gray;
    color:darkslateblue;
    border: none;
    padding: 2px 16px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
   
}

.bar{
    display: none;
}
.menuBar,.closeBar{
    display: none;
}

.navInBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: -210px;
}

.navMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}


@media only screen and (max-width:1120px) {
    .navMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        gap: 3.5rem;
        left: 0;
        background-color:#448cd4;
        width: 40%;
        height: 100vh;
        transform: translateX(-100%);
        overflow: hidden;
        transition: all .4s ease-in;
    }

    .navActive{
        transform: translateX(0);
    }
   
    .bar{
        display: block;
    }
    .menuBar,.closeBar{
        display: block;
    }
    .activeMenu{
        display: none;
    }
    .searchContent{
    height: 1.6rem;
    width: 13rem;
    padding:0.2rem 1rem;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 0.1rem;
}
}

