.inputNdIconContainer{
    position: relative;
}
.searchIcon{
    color: royalblue;
    position: absolute;
    right: 5%;
    top: 24%;
    font-size: large;
    cursor: pointer;
}
.searchContent{
    height: 1.7rem;
    width: 26rem;
    padding:0.2rem 1rem;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 0.2rem;
}
.logoutBtn{
    background-color:gray;
    color:darkslateblue;
    border: none;
    padding: 2px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 15rem;
    top:36px;
}
.loginBtn{
    background-color:gray;
    color:darkslateblue;
    border: none;
    padding: 2px 16px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 15rem;
    top:36px;
}
.userName{
    top: 8px;
    position: fixed;
    right: 13.3rem;
}
.menuBar{
    position: relative;
    display:none;
}

/* responsive css codes */
@media (max-width:414px){
    
    .appBar{
        height: 7.2rem;
    }
    .searchIcon{
    display: none;
}
.searchContent{
    height: 1.6rem;
    width: 22.6rem;
    padding:0.2rem 1rem;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 0.1rem;
}
.inputNdIconContainer {
    left: -24%;
    right: -55%;
    top: 65%;
}
.cart{
   left: -71%;
}
}

@media (min-width:414px) and (max-width:820px){
   
    .inputNdIconContainer {
    left:24.6%;
    position: fixed;
}
.searchContent{
    height: 1.6rem;
    width: 16rem;
    padding:0.2rem 1rem;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 0.1rem;
}
.cart{
   right: -4%;
}
.loginLogout{
   display: none;
   left: -64%;
}
.category{
    display: none;
}
}