
.searchedContent{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: 27.30rem;
    position: sticky;
    z-index: 150;
    background-color: antiquewhite;
    cursor: pointer;
}
img{
    height: 2rem;
    width: 1.5rem;
    cursor: pointer;
}
