.container{
  /* margin: auto; */
  margin-top: 5%;
     margin-left: auto;
    margin-right: auto;
    width: 8em
}
.inputTag{
  background-color: aliceblue;
  color: black;
  outline: none;
  padding: 0.5rem;
  font-size: x-large;
  border-radius: 0.3rem;
}
.button{
   padding: 0.5rem;
  /* font-size: x-large; */
  background-color: lightseagreen;
  font-weight: bolder;
  border-radius: 0.3rem;
}
.delButton{
   padding: 0.5rem;
  /* font-size: x-large; */
  background-color:darkred;
  font-weight: bolder;
  border-radius: 0.3rem;
  margin-left: 230%;
}
.inputAndAddBtn{
  display: flex;
}
.contents{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  /* margin-left: 260%; */
  
}