*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color:darkslateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.searchInput{
    width: 35rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight:500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.headerNav{
    display: flex;
    width: 30rem;
    justify-content: space-around;
    margin-right: 2rem;
}