*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color:darkslateblue;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headerLogo{
    margin-left: 1rem;
}
.searchInput{
    width: 35rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight:500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.headerNav{
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
}
.headerSearch{
    position: relative;
}
.searchIcon{
    padding: 0.8rem;
    height: 2.5rem !important;
    border: none;
    border-top-right-radius:0.3rem;
    border-bottom-right-radius:0.3rem;
    position: absolute;
    right: 0.0%;
    background-color:orange;
}
.nav__item{
    display: flex;
    flex-direction: column;
}
.navItemLineOne{
    font-size: 13px;
}
.navItemLineTwo{
    font-size: 16px;
}
.cartAndItems{
    display: flex;
}
.cartIcon{
    font-size: 31px;
}