*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#live{
    color: red;
}
#lcd{
    color: darkturquoise;
}
ul{
    list-style: none;
}
.mainContainer{
    /* background-color:rgb(21, 2, 2); */
    background-color: rgb(7, 3, 31);
    margin-bottom: 0.6rem;
}
.container{
    margin-top: 0.5rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content{
    background-color:lightblue;
    width: 16rem;
    height: 9rem;
    border: none;
    padding: 1.8rem;
    color: white;
    border-radius: 0.3rem;
    margin: 2rem;
}
.content:hover {
  /* -ms-transform: scale(1.5);  */
  /* -webkit-transform: scale(1.5);  */
  transform: scale(1.1); 
}
span{
    font-size: 1.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.cl1{
     background-color:lightcoral;
}
.cl2{
     background-color:limegreen;
}
.cl3{
     background-color:lightblue;
}
.cl4{
     background-color:lightslategray;
}
.cl5{
     background-color:lightgray;
}
.cl6{
     background-color:lightgreen;
}

.mainHeading{
    color: darkblue;
    /* margin-bottom: 1rem; */
    background-color:teal ;
    padding: 0.5rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightslategray;
  color:white;
}
tr:nth-child(odd) {
  /* background-color: darkslateblue; */
  background-color:  rgb(7, 3, 31);
  color: white;
}

th:hover {
  /* -ms-transform: scale(1.5);  */
  /* -webkit-transform: scale(1.5);  */
  transform: scale(1); 
  background-color:darkolivegreen;
}
td:hover {
  /* -ms-transform: scale(1.5);  */
  /* -webkit-transform: scale(1.5);  */
  transform: scale(1); 
  background-color:coral;
}