*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
  font-size: 62.5%;
}

body{
  background-color: rgb(89, 83, 108);
}
.App{
  position: relative;
}

h2{
  font-family:'Times New Roman', Times, serif;
  font-size: 2.4rem;
}
p{
  margin: 2rem 0;
  color: black;
  font-weight: 400;
  font-size: 1.6rem;
  display: inline-block;
}
span{
  text-transform:capitalize ;
  font-weight: bold;
}
.stories-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 20rem;
  width: 50vw;
  padding: 4rem;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius:0.5rem ;
  margin-top: 7rem;
}
.card-button{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card-button a{
  color: darkslateblue;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}
.card-button a:last-child{
  color: red;
  text-decoration: none;
}
.loading{
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
  position: absolute;
  margin-top: 10rem ;
  width: 100%;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 44, 81);  
  height: 6rem;
  width: 100vw;
  padding: 0 4rem;
  position:fixed;
}
.input{
  outline: none;
  border: none;
  padding: 0.8rem;
  width: 19rem;
  border-radius: 0.6rem;
  font-size: large;
  background-color: rgb(199, 220, 233);
  color: black;
}
.webTitle{
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
}
.pagination-btn{
  position:fixed;
  width: 100vw;
  display:flex ;
  justify-content: center;
  align-items: center;
  bottom: 0rem;
}
.btn{
  background-color: rgb(147, 62, 190);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem 2.2rem;
  font-size: 1.6rem;
  color: #ffffff;
  margin: 1rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pageNum{
  font-size: large;
  color: darkblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (max-width:99dpx){
  html{
    font-size: 56%;
  }
}
.ccard{
  min-width: 45rem;
  padding: 2.5rem;
}

