* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-clr: #4a5c6c;
  --bg-clr: #f2f4fc;
  --border-clr: rgb(156, 176, 193);
}

img {
  /* width: 25rem; */
  min-width: 10rem;
  max-height: 30rem;
  margin: 1rem 0;
  border-radius: 1rem;
  transition: all 0.3s linear;
}
.container {
  max-width: 140rem;
  margin: auto;
  padding: 3rem;
}


.grid {
  display: grid;
  gap: 3rem;
}

.grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}
.card {
  width: 25rem;
  max-width: 30rem;
  min-height: 30rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* search css  */
.search-section {
  margin: auto;
  text-align: center;
  margin: 4rem 0;
}
input {
  width: 30rem;
  border-radius: 2rem;
  border: none;
  border: 1px solid var(--border-clr);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  /* border-color: var(--border-clr); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  outline: none;
  margin-top: 2rem;
}
.card-error p {
  color: red;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.card-info{
  /* display: flex; */
/* margin: 5rem; */
}

