.SearchBooksInputTag{
    width: 28rem;
    height: 2rem;
    padding: 0 10px 0 20px;
}
 
 @media only screen and (max-width: 650px)  {
          .SearchBooksInputTag{
            width: 24rem;
          }
  }

  @media only screen and (min-width: 0px) and (max-width: 520px)  {
        .SearchBooksInputTag{
            max-width: 18rem;
          }
  }
   @media only screen and (max-width: 350px)  {
          .SearchBooksInputTag{
            width: 13rem;
          }
  }